*, html{
    background-color:white;
    margin: 0;
    padding: 0 ;
}

.container{
    background: none;
    padding: 0;
    margin: auto;
    margin-top: 0;
}

.jumbotron{
    padding: 0;
    border-radius: 0.8em 0.8rem 0rem 0rem;
}

.centered{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-5%);
}
.head{
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    background-color: blue;
    padding: .5em;
    margin-bottom: 1em;
    color: white;
    font-size: 20px;
}
.btn{
    text-align: center;
    margin-left: 40%;
    padding: 7px 20px;
    margin-top: 2em;
    border: none;
    border-radius: 0;
    margin-bottom: 2rem;
}
.btn:hover{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

input{
    margin: 10px 20px;
}

.option{
    background-color: transparent;
}